<!DOCTYPE html>
<html>
<head>
    <title>Немає транспортних засобів</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/Drivers/Page">Водії</a>
        <a href="/Vehicles/Page">Автомобілі</a>
        <a href="/Routes/Page">Шляхи</a>
        <a href="/Transportations/Page">Транспортні засоби</a>
    </div>

    <h1>Немає транспортних засобів для цього користувача</h1>
    <p>У цього користувача немає жодного зареєстрованого транспортного засобу.</p>
</body>
</html>
