@model VehiclesTrackingSystem.Models.Route

<!DOCTYPE html>
<html>
<head>
    <title>Додати шлях</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Додати новий шлях</h1>

    <form id="addRouteForm">
        <label for="startPoint">Початкова точка:</label><br>
        <input type="text" id="startPoint" name="startPoint"><br><br>

        <label for="endPoint">Кінцева точка:</label><br>
        <input type="text" id="endPoint" name="endPoint"><br><br>

        <label for="distance">Відстань:</label><br>
        <input type="number" id="distance" name="distance"><br><br>

        <label for="estimatedTime">Приблизний час:</label><br>
        <input type="text" id="estimatedTime" name="estimatedTime"><br><br>

        <input type="submit" value="Додати">
    </form>

    <script>
        document.getElementById('addRouteForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(this);

            fetch('/Routes', {
                method: 'POST',
                body: formData 
            })
                .then(response => {
                    if (response.ok) {
                        alert('Шлях успішно додано.');
                        window.location.href = '/Routes';
                    } else {
                        alert('Помилка додавання шляху.' + response.status);
                    }
                })
                .catch(error => console.error('Помилка:', error));
        });

    </script>
</body>
</html>
